<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<form th:action="@{/do-register}" th:object="${user}" method="post">
    <div>
        <label for="login">Логин:</label>
        <input type="text" id="login" th:field="*{login}" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>
